.absolute.right-0.mt-2.w-64.bg-white.rounded-lg.shadow-lg.border.border-gray-100.py-2.animate-fadeIn.z-2
  .px-4.py-3.border-b.border-gray-100
    %p.text-sm.font-medium.text-gray-900= "John Doe" # TODO: Add user name
    %p.text-xs.text-gray-500.mt-1= current_user.email
  .py-2
    = link_to edit_user_registration_path, class: "w-full px-4 py-2 text-sm text-gray-700 hover:bg-gray-50 flex items-center" do
      %span.text-gray-500.mr-3>
        = lucide_icon("settings-2", class: "h-4 w-4")
      = t(".account_settings")
  .border-t.border-gray-100.mt-2.pt-2
    = button_to destroy_user_session_path, method: :delete, class: "w-full px-4 py-2 text-sm text-red-600 hover:bg-red-50 flex items-center cursor-pointer" do
      = lucide_icon("log-out", class: "text-red-600 h-4 mr-3")
      = t(".log_out")
