!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= content_for(:title) || "Eduforge"
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}/
    %meta{:content => "yes", :name => "mobile-web-app-capable"}/
    = csrf_meta_tags
    = csp_meta_tag
    = yield :head
    = tag.link rel: "manifest", href: pwa_manifest_path(format: :json)
    %link{:href => "/icon.png", :rel => "icon", :type => "image/png"}/
    %link{:href => "/icon.svg", :rel => "icon", :type => "image/svg+xml"}/
    %link{:href => "/icon.png", :rel => "apple-touch-icon"}/
    -# Inter font family
    %link{:href => "https://rsms.me/", :rel => "preconnect"}/
    %link{:href => "https://rsms.me/inter/inter.css", :rel => "stylesheet"}/
    = stylesheet_link_tag :app, "data-turbo-track": "reload"
    = javascript_include_tag "application", "data-turbo-track": "reload", type: "module"
  %body{"data-controller": "sidebar"}
    = render Flash::FlashMessageComponent.new(notice: notice, alert: alert)
    .flex.flex-col.h-screen
      = render Layout::HeaderComponent.new(current_user: current_user)
      .flex.flex-1.overflow-hidden
        = render Sidebar::SidebarComponent.new(current_user: current_user)
        %main.flex-1.overflow-y-auto.p-6
          .max-w-7xl.mx-auto.py-6
            = yield
